.substeps__base {
  display: flex;
  justify-content: space-between;
}

.substeps__base-block {
  display: block;
  min-width: 30%;
  height: 410px;
  background-image: url("../../img/substeps/man-1.png");
  background-size: cover;
}

.substeps__base-block:nth-child(2) {
  background-image: url("../../img/substeps/man-2.png");
  background-size: cover;
}

.substeps__base-block:nth-child(3) {
  background-image: url("../../img/substeps/man-3.png");
  background-size: cover;
}

.substeps__base-text {
  display: block;
  font-size: 16px;
  line-height: 1.4;
  height: 60px;
  margin-top: 27px;
  margin-left: 26px;
  max-width: 260px;
  font-family: 'Museo Sans Light', sans-serif;
}

.substeps__base-text-bold {
  font-weight: 700;
}

@media (min-width: 1200px) {
  .substeps__base-text-second {
    max-width: 300px;
  }
  .substeps__base-text-third {
    max-width: 275px;
  }
}

@media (max-width: 1050px) {
  .substeps__base {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .substeps__base-block {
    min-width: 300px;
    margin-top: 30px;
  }
  .substeps__base-text {
    font-size: 14px;
    margin: auto;
    margin-top: 20px;
    margin-left: 20px;
  }
  .substeps__base-text:first-child {
    max-width: 260px;
  }
}
