.hero {
  padding: 50px 0px;
}

.hero-block {
  display: flex;
}

.hero-text {
  flex-basis: 45%;
  padding-right: 120px;
}

.hero-text__title {
  font-size: 41px;
  font-weight: 400;
  line-height: 55px;
  color: #333333;
  margin-bottom: 40px;
}

.hero-text__subtitle {
  display: inline-block;
  font-size: 20px;
  font-weight: 400;
  color: #333333;
  margin-bottom: 70px;
}

.hero-list {
  margin: 0;
  padding: 0;
}

.hero-list__item {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.hero-list__image {
  width: 40px;
  height: 40px;
  border: 2px solid #ffd200;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 25px;
}

.hero-list__text {
  max-width: 300px;
}

@media (max-width: 1200px) {
  .hero-block {
    flex-direction: column;
  }
  .hero-list {
    margin-bottom: 44px;
  }
  .hero-text {
    padding-right: 10px;
  }
}

@media (max-width: 768px) {
  .hero-text__title {
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 15px;
  }
  .hero-text__subtitle {
    font-size: 16px;
    margin-bottom: 28px;
  }
  .hero-list__item {
    margin-bottom: 20px;
  }
  .hero-list__text {
    font-size: 12px;
  }
  .hero-list__image {
    margin-right: 15px;
  }
}
