.brif {
  background-image: url("../../img/brif/brif-color-bg.png"), url("../../img/brif/brif-bg.jpg");
  background-position: left center, center  right;
  background-size: 50%, contain;
  background-repeat: repeat-y ,no-repeat;
}

.brif-block {
  display: flex;
}

.brif__interview {
  flex-basis: 50%;
}

.brif__form {
  flex-basis: 50%;
  padding-left: 200px;
  text-align: center;
}

.brif__input {
  width: 100%;
  max-width: 370px;
  margin-bottom: 15px;
}

.brif__button {
  margin-top: 15px;
  margin-bottom: 30px;
  height: 70px;
  width: 100%;
  max-width: 370px;
}

.interview {
  padding-right: 70px;
}

.interview__title {
  margin-bottom: 50px;
  font-size: 22px;
  font-weight: 700;
}

.interview__subtitle {
  display: block;
  margin-bottom: 95px;
  font-size: 16px;
  font-weight: 300;
}

.interview-list {
  list-style: none;
  padding: 0;
}

.interview-list__item {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  font-weight: 700;
}

.interview-list__counter {
  display: inline-block;
  text-align: center;
  margin-right: 30px;
  line-height: 35px;
  width: 35px;
  height: 35px;
  border: 2px solid #000000;
  border-radius: 50%;
  font-size: 14px;
}

.interview-list__text {
  max-width: 400px;
}

.form__title {
  margin-bottom: 50px;
  font-size: 22px;
  font-weight: 700;
}

.form__subtitle {
  display: block;
  margin-bottom: 95px;
  font-size: 16px;
  font-weight: 300;
}

.form__description {
  display: block;
}

.error {
  display: block;
  margin-bottom: 5px;
}

@media (max-width: 1200px) {
  .brif__form {
    padding-left: 30px;
  }
  .brif__input {
    margin: auto;
    margin-bottom: 15px;
  }
  .interview {
    padding-right: 30px;
  }
  .interview__title {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .interview__subtitle {
    margin-bottom: 30px;
  }
  .interview-list__text {
    font-size: 14px;
    max-width: 300px;
  }
  .interview-list__counter {
    margin-right: 20px;
  }
  .form__title {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .form__subtitle {
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .brif {
    background-image: url("../../img/brif/brif-color-bg.png"), url("../../img/brif/brif-bg.jpg");
    background-position: top center, center bottom;
    background-size: 100% 50%, cover;
    background-repeat: repeat-x  ,no-repeat;
  }
  .brif-block {
    flex-direction: column;
  }
  .brif__form {
    margin-top: 80px;
  }
}
